<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Book Notes</title>
  </head>
  <body>
    <nav class="navbar">
        <span>📚</span>
        <a href="/">To the Home Page</a>
        <a href="/reviews">To My Reviews</a>
    </nav>
    <br>
  </body>