<%- include('partials/header.ejs'); -%>
  <body>
    <form action="/search" method="post">
      <label for="">Search for a book:</label>
      <input type="text" name="searchedBook" />
      <button>Search</button>
    </form>

    <ul>
      <% books.forEach(book => {%>
      <li>
        <form action="/details" method="get">
          <input type="hidden" name="key" value="<%= book.key %>" />
          <button type="submit"><%= book.title %></button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
